.scrollbar {
  overflow: auto;
  &::-webkit-scrollbar {
    width: 8px;
    background: rgba(0,0,0,0.15);
    margin: 0;
  }
  &::-webkit-scrollbar-button:vertical:decrement {
    background: rgba(0,0,0,0.0);
    height: 8px;
  }
  &::-webkit-scrollbar-button:vertical:increment {
    background: rgba(0,0,0,0.0);
    height: 8px;
  }
  &::-webkit-scrollbar-thumb {
    min-height: 32px;
    background: #999999;
    border-radius: 2px;
    background-clip: content-box;
  }
  -webkit-overflow-scrolling: touch;
}
