@use "src/styles/variables" as *;
@use "src/styles/mixins/index" as *;

.cell {
  border: 1px solid $main-gray-icon-color;
  background-color: transparent;
  color: $main-gray-text-color;
  cursor: pointer;
  outline-color: $main-color;
  outline-style: revert;
  @include flex-layout();
}
