// App colors
$main-color: #0097a7;
$main-orange-color: #F57F17;
$second-orange-color: #FFAD45;
$main-gray-text-color: rgba(#000, .87);
$main-gray-icon-color: rgba(#000, .54);
$main-gray-color: #F5F5F5;
$main-background-color: #CDDBE7;
$success-color: #00ce00;
$success-faded-color: #66BB6A;
$error-color: #d50000;
$error-faded-color: #E85D4E;

// App screen sizes
$desktop-size: 1280px;
$tablet-size: 768px;
$mobile-size: 360px;
$tablet-height-size: 700px;

// App fonts
$preferred_font: 'Roboto', 'Ubuntu', 'Helvetica', sans-serif;

// App sizes
$big-font-size: 20px;
$big-font-size--mobile: 16px;
$middle-font-size: 18px;
$middle-font-size--mobile: 14px;
$small-font-size: 16px;
$small-font-size--mobile: 12px;
$icon-size: 36px;
$icon-size--mobile: 24px;
$element-height: 56px;
$element-height--mobile: 40px;
$element-radius: 4px;

// App spacing
$spacing: 8px;
